<!DOCTYPE html>
<html>
    <head>
        <title>{{ curtuser }}@{{ roomname }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/jquery.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/socket.io.min.js") }}"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-container uk-container-small">
            <br/>
            <h1 class="uk-margin-remove headnorm primcolr">Sanctuary</h1>
            <h3 class="uk-margin-remove bossnorm secocolr">{{ curtuser }}@{{ roomname }}</h3>
            <br/>
            <h2 class="uk-margin-remove bossnorm secocolr">Welcome to the {{ roomname }} chatroom!</h2>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <div class="mailhold">

                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #222222;">
                            <form action="" method="POST">
                                <input type="text" class="uk-input roomname uk-border-rounded mailbody" placeholder="[RETURN] to SEND | [Ctrl+R] to REFRESH" />
                                <p style="margin-top: 5px;">
                                    <span class="uk-float-right">
                                        <button type="submit" class="uk-button uk-border-rounded sendbutn iconbutn" uk-tooltip="title: Send chat; pos: bottom;"><span uk-icon="icon: check"></span></button>
                                        <button onclick="location.reload()" class="uk-button uk-border-rounded sendbutn iconbutn" uk-tooltip="title: Refresh page; pos: bottom;"><span uk-icon="icon: refresh"></span></button>
                                        <button onclick="confirm_exit()" class="uk-button uk-border-rounded sendbutn iconbutn" uk-tooltip="title: Leave room; pos: bottom;"><span uk-icon="icon: close"></span></button>
                                        <button onclick="confirm_purge()" class="uk-button uk-border-rounded sendbutn iconbutn" uk-tooltip="title: Purge room; pos: bottom;"><span uk-icon="icon: trash"></span></button>
                                    </span>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <script type="text/javascript">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            function confirm_exit()
            {
                var r = confirm("Are you sure want to exit?");
                if(r==true){
                    window.location.href = '{{ url_for("sesskill") }}';}
            }
             function confirm_purge()
            {
                var r = confirm("Are you sure want to purge this room?\nAll active room members may get affected");
                if(r==true){
                window.location.href = '{{ url_for("shutroom", username=curtuser, roomlink=roomlink) }}';}
            }
            socket.on
            (
                'connect',
                function()
                {
                    socket.emit
                    (
                        'my event',
                        {
                            data: 'User Connected'
                        }
                    )
                    var form = $('form').on
                    (
                        'submit',
                        function(e)
                        {
                            e.preventDefault()
                            var username = '{{ curtuser }}'
                            var mailbody = $('input.mailbody').val()
                            var curtdate = new Date();
                            var datetime = curtdate.getHours() + ":" + curtdate.getMinutes() + ":" + curtdate.getSeconds();
                            if (!mailbody)
                                return
                            socket.emit
                            (
                                'sendevnt',
                                {
                                    username : username,
                                    mailbody : mailbody,
                                    datetime : datetime,
                                    roomname : '{{ roomname }}',
                                    roomlink : '{{ roomlink }}',
                                }
                            )
                            $('input.mailbody').val('').focus()
                        }
                    )
                }
            )
            socket.on
            (
                'response',
                function(msg)
                {
                    console.log(msg)
                    if (typeof msg.username !== 'undefined')
                    {
                        if (msg.roomlink == "{{ roomlink }}")
                        {
                            $('div.mailhold').append
                            (
                                '<article class="uk-comment uk-background-secondary uk-border-rounded">' +
                                '<header class="uk-comment-header uk-grid-medium" uk-grid>' +
                                '<div class="uk-width-auto">' +
                                '<img class="uk-comment-avatar uk-border-rounded" src="{{ url_for("static", filename="imgs/avtrgrfx.jpg") }}" width="80" height="80" alt="">' +
                                '</div>' +
                                '<div class="uk-width-expand">' +
                                '<h7 class="uk-margin-remove bossnorm primcolr">'+ msg.username +'&nbsp;&nbsp;</h7>' +
                                '<span class="uk-margin-remove uk-text-small contital">Sent on ' + msg.datetime + ' HRS</span>' +
                                '<h5 class="uk-margin-remove monotext tertcolr" style="word-wrap: break-word; padding-right: 25px;">' + msg.mailbody + '</h5>' +
                                '</div>' +
                                '</header>' +
                                '</article>'
                            )
                        }
                    }
                }
            )
            socket.on
            (
                'shutkick',
                function()
                {
                    window.location.href = '{{ url_for("shutkick", roomlink=roomlink) }}'
                }
            )
            socket.on
            (
                'timekick',
                function()
                {
                    window.location.href = '{{ url_for("timekick", roomlink=roomlink) }}'
                }
            )
        </script>
    </body>
</html>
