<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sanctuary</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/fontsome.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/adminlte.css") }}" />
        <style>
            @font-face {
                font-family: "Inter";
                font-weight: 400;
                src: url("{{ url_for("static", filename="font/rlar.ttf") }}");
            }
            @font-face {
                font-family: "Inter";
                font-weight: 700;
                src: url("{{ url_for("static", filename="font/bold.ttf") }}");
            }
            .normelem{
                font-family: "Inter", sans-serif;
                font-weight: 400;
            }
            .headelem {
                font-family: "Inter", sans-serif;
                font-weight: 700;
            }
            body {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>
    </head>
    <body class="hold-transition layout-top-nav layout-navbar-fixed noselect text-sm layout-footer-fixed" onload="$('#givename').modal('show'); startTime(); document.getElementById('username').value = ''; document.getElementById('roomiden').value = '';">

        <div class="wrapper">
            <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
                <div class="container">
                    <a class="navbar-brand">
                        <img src="{{ url_for("static", filename="imgs/datalogo.svg") }}" class="brand-image img-circle" style="filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);">
                        <span class="brand-text headelem text-olive">Sanctuary</span>
                    </a>
                    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#headtext" aria-controls="headtext" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse order-3" id="headtext">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link"><i class="fas fa-id-card text-olive"></i>&nbsp;<span id="userhead" class="normelem">Sanctuary</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="fas fa-users text-olive"></i>&nbsp;<span id="idenhead" class="normelem">DEADCAFE</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="fas fa-key text-olive"></i>&nbsp;<span id="passhead" class="normelem">DEADBEEF</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="fas fa-clock text-olive"></i>&nbsp;<span id="timehead" class="normelem">FADEDCAF</span></a>
                            </li>
                        </ul>
                    </div>
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" onclick="copytext()">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" onclick="location.reload()">
                                <i class="fas fa-sync"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="content-wrapper">
                <div class="content">
                    <div class="container">
                        <br/>
                        <div id="statwarn"></div>
                    </div>
                </div>
            </div>

            <footer class="main-footer bg-light">
                <div class="container">
                    <div class="float-right d-none d-sm-inline normelem">
                        Created with <i class="fas fa-heart text-olive"></i> by <span class="headelem text-olive" onclick="window.location.href = 'https://github.com/astrosonic/'">AstroSonic</span>
                    </div>
                    <span class="headelem text-olive">Sanctuary v25072020. </span><span onclick="window.location.href = 'https://github.com/astrosonic/sanctuary'" class="normelem">Contribute</span> here.
                </div>
            </footer>
        </div>

        <div class="modal fade" id="givename" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem">Welcome to Sanctuary!</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem" style="margin-bottom: 5px;">You need to provide an alias and a chatroom key to continue.</p>
                        <ul class="normelem">
                            <li>The username should not consist of spaces</li>
                            <li>The username is mandatory for user identification</li>
                            <li>Enter a room key and password shared with you to join</li>
                            <li>Generate a room key and share it with password to add</li>
                            <li>The room key must be in 8-char uppercase hexadecimal</li>
                            <li>The password must be in 8-char uppercase hexadecimal</li>
                        </ul>
                        <input type="text" id="username" placeholder="Enter your username" class="form-control normelem">
                        <br/>
                        <input type="text" id="roomiden" placeholder="Enter your chatroom key" class="form-control normelem">
                        <br/>
                        <input type="text" id="password" placeholder="Enter a strong password" class="form-control normelem">
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-default" onclick="GenerateRoom()">Generate</button>
                        <button type="button" class="btn btn-default" onclick="SaveUserName()">Continue</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sockfail" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem">Connection failed</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem text-justify" style="margin-bottom: 5px;">A connection to the WebSocket server could not be established. Please refresh the page and try again.</p>
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userkick" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem">Warning</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem text-justify" style="margin-bottom: 5px;">You were removed from the chatroom. Please refresh the page to try joining again.</p>
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userstop" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem">Warning</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem text-justify" style="margin-bottom: 5px;">The chatroom was stopped and everyone was removed. Please refresh the page to try joining again.</p>
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="userexit" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-olive">
                        <h4 class="modal-title headelem">Warning</h4>
                    </div>
                    <div class="modal-body">
                        <p class="normelem text-justify" style="margin-bottom: 5px;">You left the chatroom voluntarily. Please refresh the page to try joining again.</p>
                    </div>
                    <div class="modal-footer justify-content-between bg-olive">
                        <button type="button" class="btn btn-default" onclick="location.reload();">Refresh</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for("static", filename="jscn/jquery.min.js") }}"></script>
        <script>
            let webesock = new WebSocket("ws://" + document.domain + ":" + {{ chatport }} + "/");
            sessionStorage.removeItem("username"); sessionStorage.removeItem("password"); sessionStorage.removeItem("roomiden");
            function startTime()
            {
                let curtdate = new Date();
                let hour = curtdate.getHours(); let mint = curtdate.getMinutes(); let secs = curtdate.getSeconds();
                hour = checkTime(hour); mint = checkTime(mint); secs = checkTime(secs);
                document.getElementById("timehead").innerHTML = hour + ":" + mint + ":" + secs;
                let time = setTimeout(startTime, 500);
            }
            function checkTime(indx)
            {
                if (indx < 10)
                {
                    indx = "0" + indx;
                }
                return indx;
            }
            function GenerateRoom() {
                let randroom = ""; let randpass = "";
                let lent = 8; let list = "0123456789ABCDEF";
                for (let indx = lent; indx > 0; indx--)
                {
                    randroom += list[Math.floor(Math.random() * list.length)];
                }
                for (let indx = lent; indx > 0; indx--)
                {
                    randpass += list[Math.floor(Math.random() * list.length)];
                }
                document.getElementById("roomiden").value = randroom;
                document.getElementById("password").value = randpass;
            }
            function SaveUserName() {
                let username = document.getElementById("username").value;
                let roomiden = document.getElementById("roomiden").value;
                let password = document.getElementById("password").value;
                if (username != "" && roomiden != "" && password != "")
                {
                    if (!(/\s/.test(username) || /\s/.test(roomiden) || /\s/.test(password)))
                    {
                        if (roomiden.match(/^[A-F0-9]{8}$/i) && password.match(/^[A-F0-9]{8}$/i))
                        {
                            sessionStorage.setItem("username", username); sessionStorage.setItem("roomiden", roomiden); sessionStorage.setItem("password", password);
                            $('#givename').modal('hide'); document.getElementById("username").value = ""; document.getElementById("roomiden").value = ""; document.getElementById("password").value = "";
                            document.getElementById("userhead").innerText = username; document.getElementById("idenhead").innerText = roomiden; document.getElementById("passhead").innerText = password;
                            let modifdom = "<div class='card card-outline card-olive'>" + "<div class='card-header'>" + "<p class='card-title headelem text-olive'>Hello " + sessionStorage.getItem("username") + ", Welcome to Sanctuary!</p>" +
                                "<div class='card-tools'>" + "<button type='button' class='btn btn-tool' data-card-widget='remove'><i class='fas fa-times'></i></button>" +
                                "</div>" + "</div>" + "<div class='card-body'>" +
                                "<p class='normelem text-justify'>Sanctuary is a secure synchronous lightweight chatroom with zero logging and total transience.</p>" +
                                "<p class='normelem text-justify'>You have just joined a chatroom with identity <span class='headelem'>" + sessionStorage.getItem("roomiden") + "</span> using the password <span class='headelem'>" + sessionStorage.getItem("password") + "</span> as username <span class='headelem'>" + sessionStorage.getItem("username") + "</span> at a Sanctuary instance hosted at <span class='headelem'>http://" + document.domain + ":{{ chatport }}/</span>. If you want more people to join in, simply share the username and password with them. That being said, here are some of the cool stuffs you can do.</p>" +
                                "<ul class='normelem'>" +
                                "<li>Divert away from boring text-based messaging by using HTML5 for sharing formatted text, images, videos etc.</li>" + "<li>Get rid of people from the chatroom by typing in <code>/kick #USERNAME</code> - Beware someone else can do it to you too</li>" +
                                "<li>Say your farewells and leave the chatroom by typing in <code>/exit</code> (or simply close the tab but with no goodbyes)</li>" + "<li>Purge the chatroom and kick everyone out of the chatroom by typing <code>/stop</code> - Be very careful while using this</li>" +
                                "</ul>" + "</div>" + "</div>";
                            let chatboxe = "<div class='card card-outline card-olive direct-chat direct-chat-olive' id='chatboxe'>" +
                                "<div class='card-header'>" + "<p class='card-title headelem text-olive'>Chatroom</p>" + "<div class='card-tools'>" +
                                "<button type='button' class='btn btn-tool' data-toggle='tooltip'><i class='fas fa-door-open'></i></button>" +
                                "<button type='button' class='btn btn-tool' data-toggle='tooltip'><i class='fas fa-trash-alt'></i></button>" +
                                "</div>" + "</div>" + "<div class='card-body' id='mesgarea'>" + "<div class='direct-chat-messages' style='height: 100%;'>" +
                                "</div>" + "</div>" + "<div class='card-footer' style='padding-left: 10px; padding-right: 10px;'>" +
                                "<form onsubmit='FetchMessageFromTextbox()' action='javascript:;'>" + "<div class='input-group'>" +
                                "<input type='text' name='message' placeholder='Enter your message here' id='textmesg' class='form-control normelem'>" +
                                "<span class='input-group-append'>" + "<button type='submit' class='btn bg-olive headelem'><i class='fas fa-share'></i></button>" +
                                "</span>" + "</div>" + "</form>" + "</div>" + "</div>"
                            $("#statwarn").append(modifdom); $("#statwarn").append(chatboxe);
                        }
                    }
                }
            }
            function FetchMessageFromTextbox()
            {
                if (webesock.readyState == 3)
                {
                    $("#sockfail").modal("show");
                }
                else
                {
                    let textmesg = document.getElementById("textmesg").value;
                    if (textmesg != "")
                    {
                        if (textmesg == "/stop")
                        {
                            let encrmesg = CryptoJS.AES.encrypt(textmesg, sessionStorage.getItem("password")).toString();
                            webesock.send(JSON.stringify({username:sessionStorage.getItem("username"), roomiden:sessionStorage.getItem("roomiden"), textmesg:encrmesg}));
                            sessionStorage.removeItem("username"); sessionStorage.removeItem("password"); sessionStorage.removeItem("roomiden");
                            document.getElementById("statwarn").remove(); document.getElementById("headtext").remove(); $("#userstop").modal("show");
                        }
                        else if (textmesg == "/exit")
                        {
                            let textmesg = "Gotta go now. I will talk to you folks later.<br/><i>This is an automated message on the behalf of " + sessionStorage.getItem("username") + ".</i>";
                            let encrmesg = CryptoJS.AES.encrypt(textmesg, sessionStorage.getItem("password")).toString();
                            webesock.send(JSON.stringify({username:sessionStorage.getItem("username"), roomiden:sessionStorage.getItem("roomiden"), textmesg:encrmesg}));
                            sessionStorage.removeItem("username"); sessionStorage.removeItem("password"); sessionStorage.removeItem("roomiden");
                            document.getElementById("statwarn").remove(); document.getElementById("headtext").remove(); $("#userexit").modal("show");
                        }
                        else if (textmesg.includes("/kick"))
                        {
                            if (textmesg.includes(sessionStorage.getItem("username")))
                            {
                                let curtdate = new Date();
                                let modifdom = "<div class='direct-chat-msg right'>" + "<div class='direct-chat-infos clearfix'>" +
                                    "<span class='direct-chat-name float-right headelem'>" + sessionStorage.getItem("username") + "</span>" + "<span class='direct-chat-timestamp float-left normelem'>" + curtdate.toLocaleString() + "</span>" + "</div>" +
                                    "<img class='direct-chat-img' src='{{ url_for("static", filename="imgs/datalogo.svg") }}' style='filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);' alt='Message User Image'>" +
                                    "<div class='direct-chat-text normelem text-justify'>" + "You cannot kick yourself from the chatroom. Use '/exit' instead.<br/><i>This is an automated message which is visible only to you.</i>" + "</div>" + "</div>";
                                $("div.direct-chat-messages").append(modifdom); document.getElementById("textmesg").value = "";
                            }
                            else
                            {
                                let curtdate = new Date();
                                let modifdom = "<div class='direct-chat-msg right'>" + "<div class='direct-chat-infos clearfix'>" +
                                    "<span class='direct-chat-name float-right headelem'>" + sessionStorage.getItem("username") + "</span>" + "<span class='direct-chat-timestamp float-left normelem'>" + curtdate.toLocaleString() + "</span>" + "</div>" +
                                    "<img class='direct-chat-img' src='{{ url_for("static", filename="imgs/datalogo.svg") }}' style='filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);' alt='Message User Image'>" +
                                    "<div class='direct-chat-text normelem text-justify'>" + "You kicked a member from the chatroom.<br/><i>This is an automated message which is visible only to you.</i>" + "</div>" + "</div>";
                                $("div.direct-chat-messages").append(modifdom); document.getElementById("textmesg").value = "";
                                let encrmesg = CryptoJS.AES.encrypt(textmesg, sessionStorage.getItem("password")).toString();
                                webesock.send(JSON.stringify({username:sessionStorage.getItem("username"), roomiden:sessionStorage.getItem("roomiden"), textmesg:encrmesg}));
                            }
                        }
                        else
                        {
                            let curtdate = new Date();
                            let modifdom = "<div class='direct-chat-msg right'>" + "<div class='direct-chat-infos clearfix'>" +
                                "<span class='direct-chat-name float-right headelem'>" + sessionStorage.getItem("username") + "</span>" + "<span class='direct-chat-timestamp float-left normelem'>" + curtdate.toLocaleString() + "</span>" + "</div>" +
                                "<img class='direct-chat-img' src='{{ url_for("static", filename="imgs/datalogo.svg") }}' style='filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);' alt='Message User Image'>" +
                                "<div class='direct-chat-text normelem text-justify'>" + textmesg + "</div>" + "</div>";
                            $("div.direct-chat-messages").append(modifdom); document.getElementById("textmesg").value = "";
                            let encrmesg = CryptoJS.AES.encrypt(textmesg, sessionStorage.getItem("password")).toString();
                            webesock.send(JSON.stringify({username:sessionStorage.getItem("username"), roomiden:sessionStorage.getItem("roomiden"), textmesg:encrmesg}));
                        }
                    }
                }
            }
            function copytext()
            {
			    let copytext = "You have been invited to join the Sanctuary chatroom by " + sessionStorage.getItem("username") + ". Just head over to http://" + document.domain + ":{{ chatport }}/ and type in '" + sessionStorage.getItem("roomiden") + "' as the chatroom identity and '" + sessionStorage.getItem("password") + "' as the chatroom password (without quotes) to join.";
				let tempelem = document.createElement("textarea");
				document.body.appendChild(tempelem);
				tempelem.value = copytext;
				tempelem.select();
				tempelem.setSelectionRange(0, 99999);
				document.execCommand("copy");
				document.body.removeChild(tempelem);
			}
            webesock.onmessage = function (event)
            {
                let data = JSON.parse(event.data);
                if (!(data.username == sessionStorage.getItem("username")))
                {
                    if (data.roomiden == sessionStorage.getItem("roomiden"))
                    {
                        if (data.username != null && data.textmesg != null)
                        {
                            let textmesg = CryptoJS.AES.decrypt(data.textmesg, sessionStorage.getItem("password")).toString(CryptoJS.enc.Utf8);
                            if (textmesg.includes("/kick") == true)
                            {
                                if (textmesg == "/kick " + sessionStorage.getItem("username"))
                                {
                                    sessionStorage.removeItem("username"); sessionStorage.removeItem("password"); sessionStorage.removeItem("roomiden");
                                    document.getElementById("statwarn").remove(); document.getElementById("headtext").remove(); $("#userkick").modal("show");
                                }
                                else if (!(textmesg.includes(sessionStorage.getItem("username"))))
                                {
                                    let curtdate = new Date();
                                    let modifdom = "<div class='direct-chat-msg'>" + "<div class='direct-chat-infos clearfix'>" +
                                        "<span class='direct-chat-name float-left headelem'>" + data.username + "</span>" + "<span class='direct-chat-timestamp float-right normelem'>" + curtdate.toLocaleString() + "</span>" + "</div>" +
                                        "<img class='direct-chat-img' src='{{ url_for("static", filename="imgs/datalogo.svg") }}' style='filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);' alt='Message User Image'>" +
                                        "<div class='direct-chat-text normelem text-justify'>" + data.username + " executed '" + textmesg + "' and removed a chatroom member.<br/><i>This is an automated message on the behalf of " + data.username + "</i>" +
                                        "</div>" + "</div>";
                                    $("div.direct-chat-messages").append(modifdom);
                                }
                            }
                            else if (textmesg == "/stop")
                            {
                                sessionStorage.removeItem("username"); sessionStorage.removeItem("password"); sessionStorage.removeItem("roomiden");
                                document.getElementById("statwarn").remove(); document.getElementById("headtext").remove(); $("#userstop").modal("show");
                            }
                            else
                            {
                                let curtdate = new Date();
                                let modifdom = "<div class='direct-chat-msg'>" + "<div class='direct-chat-infos clearfix'>" +
                                    "<span class='direct-chat-name float-left headelem'>" + data.username + "</span>" + "<span class='direct-chat-timestamp float-right normelem'>" + curtdate.toLocaleString() + "</span>" + "</div>" +
                                    "<img class='direct-chat-img' src='{{ url_for("static", filename="imgs/datalogo.svg") }}' style='filter: invert(50%) sepia(47%) saturate(456%) hue-rotate(101deg) brightness(94%) contrast(92%);' alt='Message User Image'>" +
                                    "<div class='direct-chat-text normelem text-justify'>" + textmesg + "</div>" + "</div>";
                                $("div.direct-chat-messages").append(modifdom);
                            }
                        }
                    }
                }
            }
        </script>
        <script src="{{ url_for("static", filename="jscn/bootstrap.bundle.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/adminlte.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/aes.js") }}"></script>
    </body>
</html>