<!DOCTYPE html>
<html>
    <head>
        <title>Chatroom invitation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-container uk-container-small">
            <br/>
            <h1 class="uk-margin-remove headnorm primcolr">Sanctuary</h1>
            <h3 class="uk-margin-remove bossnorm secocolr">You have been invited to join the chatroom</h3>
            <h4 class="contnorm tertcolr uk-text-justify">
                You have now joined a private chatroom via invitation link and password. You can invite, talk
                and leave at will during the active time of the chatroom beyond which it will expire.
                <span class="bossnorm secocolr">Refresh the page</span>, <span class="bossnorm secocolr">close the tab</span>,
                <span class="bossnorm secocolr">leave the chat</span> or <span class="bossnorm secocolr">purge the chatroom</span>
                to quickly get rid of all messages.
            </h4>
            <br/>
            <button onclick="window.location.href = '{{ url_for("actiroom", roomname=basedata["roomname"], roomlink=distinct["identity"]) }}'" class="uk-button uk-border-rounded backmain">
                ACCEPT
            </button>
            &nbsp;&nbsp;
            <button onclick="window.location.href = '{{ url_for("mainmenu") }}'" class="uk-button uk-border-rounded backmain">
                DECLINE
            </button>
            <br/>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Chatroom name</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ basedata["roomname"] }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Sector administrator</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ basedata["ownrname"] }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">You are about to join chat as</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ curtuser }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Duration</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ duration["totaperd"] }} seconds</h1>
                </div>
            </div>
            <br/>
            <div class="uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                        <h4 class="uk-margin-remove bossnorm secocolr">Start time</h4>
                        <h1 class="uk-margin-remove headnorm primcolr">{{ strttime["hour"] }}:{{ strttime["mins"] }}:{{ strttime["secs"] }}</h1>
                        <p class="uk-margin-remove contital tertcolr uk-text-justify">
                            Kept at {{ duration["timezone"] }}
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                        <h4 class="uk-margin-remove bossnorm secocolr">Stop time</h4>
                        <h1 class="uk-margin-remove headnorm primcolr">{{ stoptime["hour"] }}:{{ stoptime["mins"] }}:{{ stoptime["secs"] }}</h1>
                        <p class="uk-margin-remove contital tertcolr uk-text-justify">
                            Kept at {{ duration["timezone"] }}
                        </p>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <br/>
    </body>
</html>

