<!DOCTYPE html>
<html>
    <head>
        <title>Chatroom created</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-container uk-container-small">
            <br/>
            <h1 class="uk-margin-remove headnorm primcolr">Sanctuary</h1>
            <h3 class="uk-margin-remove bossnorm secocolr">Chatroom created!</h3>
            <h4 class="contnorm tertcolr uk-text-justify">
                We created a private chatroom for you. This chatroom will exist for only a limited period of
                time in which people can join, talk and leave at their will. We have provided you with the chat link
                - which you can share with your allies along with password so they can join.
            </h4>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Chatroom name</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ basedata["roomname"] }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Sector administrator</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ basedata["ownrname"] }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Joining link</h4>
                    <h1 class="uk-margin-remove headnorm primcolr" style="word-wrap: break-word;">{{ distinct["identity"] }}</h1>
                </div>
            </div>
            <br/>
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                    <h4 class="uk-margin-remove bossnorm secocolr">Duration</h4>
                    <h1 class="uk-margin-remove headnorm primcolr">{{ duration["totaperd"] }} seconds</h1>
                </div>
            </div>
            <br/>
            <div class="uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                        <h4 class="uk-margin-remove bossnorm secocolr">Start time</h4>
                        <h1 class="uk-margin-remove headnorm primcolr">{{ strttime["hour"] }}:{{ strttime["mins"] }}:{{ strttime["secs"] }}</h1>
                        <p class="uk-margin-remove contital tertcolr uk-text-justify">
                            Kept at {{ duration["timezone"] }}
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-border-rounded" style="background-color: #333333;">
                        <h4 class="uk-margin-remove bossnorm secocolr">Stop time</h4>
                        <h1 class="uk-margin-remove headnorm primcolr">{{ stoptime["hour"] }}:{{ stoptime["mins"] }}:{{ stoptime["secs"] }}</h1>
                        <p class="uk-margin-remove contital tertcolr uk-text-justify">
                            Kept at {{ duration["timezone"] }}
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <a href="{{ url_for("mainmenu") }}">
                <button class="uk-button uk-border-rounded backmain">
                    GO BACK TO HOMEPAGE
                </button>
            </a>
        </div>
        <br/>
    </body>
</html>

