<!DOCTYPE html>
<html>
    <head>
        <title>Logged out</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-container uk-container-small">
            <br/>
            <h1 class="uk-margin-remove headnorm primcolr">Sanctuary</h1>
            <h3 class="uk-margin-remove bossnorm secocolr">You have logged out successfully</h3>
            <h4 class="contnorm tertcolr uk-text-justify">
                You session details have been destroyed - All the conversations made have been removed from
                your end. If you logged out by mistake, you can always head back to homepage and log back in.
            </h4>
            <br/>
            <button onclick="window.location.href = '{{ url_for("mainmenu") }}'" class="uk-button uk-border-rounded backmain">
                GO BACK TO HOMEPAGE
            </button>
            <br/>
            <br/>
        </div>
        <br/>
    </body>
</html>

