<!DOCTYPE html>
<html>
    <head>
        <title>Chatroom purged</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
    </head>
    <body class="uk-background-secondary">
        <div class="uk-container uk-container-small">
            <br/>
            <h1 class="uk-margin-remove headnorm primcolr">Sanctuary</h1>
            <h3 class="uk-margin-remove bossnorm secocolr">The specified chatroom was purged prematurely</h3>
            <h4 class="contnorm tertcolr uk-text-justify">
                You successfully purged the chatroom from its operational existence - so everyone
                including you were removed from it. This activity was logged. Every participant would
                get to know who performed the chatroom purge and when. You might want to head back to
                the homepage.
            </h4>
            <br/>
            <button onclick="window.location.href = '{{ url_for("mainmenu") }}'" class="uk-button uk-border-rounded backmain">
                GO BACK TO HOMEPAGE
            </button>
            <br/>
            <br/>
        </div>
        <br/>
    </body>
</html>

