<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
        <script src="{{ url_for('static', filename='jscn/zodiaczd.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/zodiaczd.css") }}" />
        <title>Sanctuary 3.0</title>
    </head>
    <body onload="OnLoadExecutables();">
        <div class="ui small attached menu inverted" style="background-color: #00c080;">
            <div class="item intr-bold">Sanctuary</div>
            <div class="item intr-rlar" id="userttle">USERNAME</div>
            <div class="right menu">
                <div class="ui item jtbn-rlar" id="timehead">00:00:00</div>
            </div>
        </div>
        <div class="ui top attached tabular menu" style="margin-left: 0.75%; margin-right: 0.75%; width: 98.5%;">
            <a class="item active tabe-head-back jtbn-rlar" id="wlcm-ttle" style="padding: 0.5%;" onclick="SwitchTabActiveState('wlcm-ttle');">
                Welcome
            </a>
            <a class="item tabe-head-back jtbn-rlar" id="chrm-ttle" style="padding: 0.5%;" onclick="SwitchTabActiveState('chrm-ttle');">
                Chatrooms
            </a>
            <a class="item tabe-head-back jtbn-rlar" id="user-ttle" style="padding: 0.5%;" onclick="SwitchTabActiveState('user-ttle');">
                Users
            </a>
            <a class="item tabe-head-back jtbn-rlar" id="make-ttle" style="padding: 0.5%;" onclick="SwitchTabActiveState('make-ttle');">
                Create
            </a>
        </div>
        <div class="ui bottom attached tab segment active tabe-body-styl" id="wlcm-body" >
            <div class="ui container segment">
                <h2 class="ui header jtbn-bold head-text-colr">Welcome to Sanctuary 3.0!</h2>
                <p class="intr-rlar">
                    Sanctuary is a secure synchronous lightweight chatroom with zero logging and total transience.
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Send Markdown-inspired messages</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        If you know Markdown, you are in for some exciting messaging experience here. Share formatted
                        text contents, attach images and videos or add tables to what you are trying to convey easily
                        using intuitive Markdown syntax and inbuilt parser!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">End-to-end encrypted conversations</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        With state-of-the-art client-side password-based Advanced Encryption Standard protection, your
                        conversations are only readable by the ones who have the password. To add to it, no messages
                        are stored or understood at the server end!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Exclusive inclusion or inclusive exclusion?</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        We understand that not all messages in a group are intended for everyone present in the group.
                        There can be certain messages you want to convey to a specific participant but hitching up an
                        entire new chatroom can be inconvenient as hell!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Insanely sanitized transmissions</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        We passionately learn from our mistakes and this time around, we ensured that no part of the
                        input is transmitted without sanitization. This ensures protection against unscrupulous
                        exploitation of security holes via provided inputs!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Encountered a Persona Non Grata?</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        People can be very different (and very difficult at the same time). Although we suggest active
                        inclusion of folks with different minds, there is nothing stopping you from getting rid of
                        members should they turn things sour for the chatroom!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Done and dusted with the talks</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        So you are done with having all the conversation you could in a chatroom and now want to put
                        down the phone? You could either leave gracefully and we bid everyone a farewell for you or you
                        could just close the tab but with no goodbyes!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Uncompromising state of privacy</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        We understand that things could go terribly bad, should some of your private messages fall in
                        the hands of someone whom you do not intend to. If you are paranoid enough, you can purge your
                        chatroom and remove all messages and members!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Awesomely subtle element of surprise</div>
                    <p class="intr-rlar" style="text-align: justify;">
                        Anonymity can be comforting - especially when you get to drop messages to someone in your
                        chatroom without them knowing that it was you who sent it. Of course, we advise discretion in
                        the use of this feature as much as possible!
                        <a href="">Learn more about how you can do so here</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment tabe-body-styl" id="chrm-body">
            <div class="ui container segment">
                <h2 class="ui header jtbn-bold head-text-colr">Chatrooms active</h2>
                <p class="intr-rlar">
                    These chatrooms are active right now.
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Dead Men Strategist Committee</div>
                    <p class="intr-ital">No description available</p>
                    <span class="intr-bold">Public and unsecure chatroom</span><br/>
                    <span><span class="intr-bold">Owned by -> </span><span class="intr-rlar">t0xic0der</span></span><br/>
                    <span><span class="intr-bold">Created on -> </span><span class="intr-rlar">15:30:26 IST</span></span><br/>
                    <div class="ui top right attached label jtbn-bold">DEADCAFE</div>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Beef Eating Team</div>
                    <p class="intr-ital">No description available</p>
                    <span class="intr-bold">Public and unsecure chatroom</span><br/>
                    <span><span class="intr-bold">Owned by -> </span><span class="intr-rlar">VaibhavSaini19</span></span><br/>
                    <span><span class="intr-bold">Created on -> </span><span class="intr-rlar">15:30:26 IST</span></span><br/>
                    <div class="ui top right attached label jtbn-bold">DEADBEEF</div>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Advanced Coding and Coffee Drinking</div>
                    <p class="intr-ital">No description available</p>
                    <span class="intr-bold">Private and protected chatroom</span><br/>
                    <span><span class="intr-bold">Owned by -> </span><span class="intr-rlar">s-katte</span></span><br/>
                    <span><span class="intr-bold">Created on -> </span><span class="intr-rlar">15:30:26 IST</span></span><br/>
                    <div class="ui top right attached label jtbn-bold">CODECAFE</div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment tabe-body-styl" id="user-body">
            <div class="ui container segment">
                <h2 class="ui header jtbn-bold head-text-colr">Users active</h2>
                <p class="intr-rlar">
                    These users are active right now.
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Akashdeep Dhar</div>
                    <span class="intr-bold">t0xic0der</span><br/>
                    <p class="intr-ital">Contributor at Fedora Project</p>
                    <div class="ui top right attached label jtbn-bold">DIRECT</div>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Vaibhav Saini</div>
                    <span class="intr-bold">VaibhavSaini19</span><br/>
                    <p class="intr-ital">A highly motivated, enthusiastic and passionate programmer with excellent academic records</p>
                    <div class="ui top right attached label jtbn-bold">DIRECT</div>
                </div>
                <div class="ui message">
                    <div class="header jtbn-bold head-text-colr">Shubham Katte</div>
                    <span class="intr-bold">s-katte</span><br/>
                    <p class="intr-ital">I am a Web Developer and Machine Learning enthusiast</p>
                    <div class="ui top right attached label jtbn-bold">DIRECT</div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached tab segment tabe-body-styl" id="make-body">
            Third
        </div>
    </body>
    <div class="ui tiny modal" id="restwarn">
        <div class="header bodyfont jtbn-bold" style="padding: 1.5%; color: #00c080; background-color: #f6f8fa;">
            Connect to Dispatch service
        </div>
        <div class="content" style="padding: 1.5%;">
            <p class="intr-rlar" style="line-height: 1.25; text-align: justify; font-size: 15px;">
                Use a Dispatch service present at your local network or connect to a remotely reachable service with
                their uniform resource identifier and your username. Once you are connected and identified at that end,
                you can start sending and receiving messages.
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <input class="intr-rlar" id="dspchuri" placeholder="Dispatch URI" type="text">
                        </div>
                        <div class="field">
                            <input class="intr-rlar" id="usertext" placeholder="Username" type="text">
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div class="actions" style="padding: 1.5%; background-color: #f6f8fa;">
            <div class="ui mini button" onclick="RegisterPersonOnDispatch();" style="background-color: #00c080;">
                <span><i style="margin: 0px; color: #ffffff;" class="check icon"></i></span>
            </div>
        </div>
    </div>
    <div class="ui tiny modal" id="dupluser">
        <div class="header bodyfont jtbn-bold" style="padding: 1.5%; color: #00c080; background-color: #f6f8fa;">
            Connection declined
        </div>
        <div class="content" style="padding: 1.5%;">
            <p class="intr-rlar" style="line-height: 1.25; text-align: justify; font-size: 15px;">
                A participant with the same username already exists in the server due to which your connection was
                declined from the Dispatch service. Please refresh the page and try using a different username or
                attempt connecting with a different Dispatch service.
            </p>
        </div>
        <div class="actions" style="padding: 1.5%; background-color: #f6f8fa;">
            <div class="ui mini button" onclick="location.reload();" style="background-color: #00c080;">
                <span><i style="margin: 0px; color: #ffffff;" class="sync icon"></i></span>
            </div>
        </div>
    </div>
</html>